@font-face {
  font-family: "iconfont"; /* Project id 3446663 */
  src: url('iconfont.woff2?t=1654160099120') format('woff2'),
       url('iconfont.woff?t=1654160099120') format('woff'),
       url('iconfont.ttf?t=1654160099120') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhenshikexin:before {
  content: "\e99b";
}

.icon-yinzhangrenzheng:before {
  content: "\e99c";
}

.icon-wendang:before {
  content: "\e99d";
}

.icon-yuanchengchuantou:before {
  content: "\e99e";
}

.icon-zhengzhaozhizhao:before {
  content: "\e99f";
}

.icon-zhinengheyue:before {
  content: "\e9a0";
}

.icon-zhengfu:before {
  content: "\e9a1";
}

.icon-user:before {
  content: "\e9a2";
}

.icon-mail:before {
  content: "\e9a3";
}

.icon-haiguangangkou:before {
  content: "\e98f";
}

.icon-jishufuwu:before {
  content: "\e990";
}

.icon-jiangben:before {
  content: "\e992";
}

.icon-banquan:before {
  content: "\e98b";
}

.icon-anquanyinsi:before {
  content: "\e98e";
}

.icon-bingtutubiao:before {
  content: "\e991";
}

.icon-chayan:before {
  content: "\e993";
}

.icon-erweima:before {
  content: "\e994";
}

.icon-fapiao:before {
  content: "\e995";
}

.icon-cangchucangku:before {
  content: "\e98c";
}

